<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title></title>
    <meta name="keyword" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
    <![endif]-->
    <%= javascript_pack_tag 'application', 'main' %>
    <%= stylesheet_pack_tag 'application', 'main' %>
  </head>

  <body>
    <div id="app"></div>
    <%# <%= yield %> 
  </body>
</html>
